@{
    ViewData["Title"] = "Registration Page";
}

<div class="text-center">
    <div class="borderdiv">
        <h1 class="display-4">Register</h1>
        @*@if (ViewData["credinvalid"] == "true")
        {
            <p class="warningmessage">Username or Password not not found; try again or register a new account</p>
        }*@
        <p>Register new user</p>
        <div class="row">
            <div class="d-flex justify-content-center align-items-center container">
                <form method="post" asp-action="Register">
                    Username <input type="text" id="usernamein" name="usernamein" placeholder="" class="form-control"><br>
                    Password <input type="text" id="passwordin" name="passwordin" placeholder="" class="form-control"><br>
                    First Name <input type="text" id="firstnamein" name="firstnamein" placeholder="" class="form-control"><br>
                    Last Name <input type="text" id="lastnamein" name="lastnamein" placeholder="" class="form-control"><br>
                    <input type="submit" value="Login" class="btn btn-primary">
                </form>
            </div>
        </div>
        <br>
    </div>
</div>
