@model IEnumerable<RevatureP1.Models.Location>
@*
    The stores list page
*@
@{ ViewData["Title"] = "Locations"; }

<div class="borderdiv">
    <h1>Locations</h1>

    @*<p>
            <a asp-action="Create">Create New</a>
        </p>*@
    <table class="table">
        <thead>
            <tr>
                <th>
                    Store Address
                    @*@Html.DisplayNameFor(model => model.LocationAddress)*@
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.LocationAddress)
    </td>
    <td>
        <a class="btn btn-primary" asp-action="LocationDetails" asp-route-id="@item.LocationId">Brows Wares</a>
        <br />
        <a class="btn btn-primary" asp-action="StoreHistory" asp-route-id="@item.LocationId">View Store Order History</a>
    </td>
</tr>
}
        </tbody>
    </table>

    <a class="btn btn-primary" href="javascript:history.go(-1)">Back</a>
</div>